body {
    font-family: sans-serif;
    font-size: 14px;
    height: 100vh;
    margin: 0;
    background: #162831;
    color: #fbf9f9;
}

body #root {
    width: 100%;
    height: 100%;
}

.loader {
    width: 35px;
    height: 35px;
    border: 4px solid #fbf9f9;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - 52px);
    overflow: hidden;
}

.header {
    padding: 16px;
    border-bottom: 1px solid #484c51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: serif;
    background: #11151a;
    gap: 16px;
    height: 38px;
}

.header-right-section {
    display: flex;
    align-items: center;
    gap: 16px;
}

.page-logo {
    font-size: 21px;
}

.header-user-name {
    max-width: 30vw;
    font-family: sans-serif;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 16px;
}

.main-section button {
    width: 136px;
    min-width: 136px;
    font-weight: 600;
    font-size: 13px;
}

.search-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.search-section input,
.settings-modal input,
.voting-section select {
    color: inherit;
    background: #161a1f;
    border: 1px solid #484c51;
    border-radius: 5px;
    padding: 0 8px;
}

.settings-modal input {
    line-height: 34px;
}

.rooms-list {
    overflow-y: auto;
    height: calc(100vh - 184px);
}

.rooms-list table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #484c51;
}

.rooms-list tr th {
    background: #11151a;
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 44px;
}

.rooms-list tr td {
    padding: 3px;
    text-align: center;
    border-top: 1px solid #484c51;
    background: #101518;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.login-user-modal, .settings-modal {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-user-modal-buttons, .settings-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
}

.form-button {
    background: #dcdcdc;
    color: #000000;
    padding: 0 8px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    width: max-content;
    height: 38px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    height: 84px;
}

.game-header-meta-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 28px;
    width: 50vw;
    font-size: 13px;
}

.game-header-meta-info div {
    display: flex;
    gap: 8px;
}

.game-header-meta-info b {
    white-space: nowrap;
    width: auto;
}

.game-header-buttons {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 8px;
    width: 50vw;
    align-items: end;
}

.game-header-buttons button {
    width: 170px;
}

.game-user-info {
    line-height: 38px;
    display: flex;
    gap: 32px;
    font-size: 13px;
}

.voting-section {
    display: flex;
    gap: 8px;
    align-items: center;
    width: calc(100vw - 32px);
}

.voting-section select {
    min-width: 20vw;
    width: 100%;
    height: 38px;
}

.voting-section-text {
    white-space: nowrap;
}

.players-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 38px;
    gap: 8px;
    border: 1px solid #484c51;
    padding: 8px;
}

.players-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #11151a;
    max-width: 100px;
    min-width: 100px;
    height: 38px;
    border: 3px solid #484c51;
    border-radius: 15px;
}

.not-alive-player {
    border: 3px solid #f25a5a !important;
}

.players-list-item span {
    padding: 0 5px;
}

.player-hint {
    display: flex;
    align-items: center;
    height: 38px;
    border-top: 1px solid #484c51;
}

.text-trim {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #484c51;
    padding: 16px;
    background: #11151a;
}

.ReactModal__Overlay {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3) !important;
}